:root {
  --font-sans: 'Montserrat', sans-serif;
  --full-width: 100vw;
  --border-radius: 4px;

  --primary-color: linear-gradient(124.18deg, #FE8A00 22.06%, #FE8A00 81.62%);
  --text-color: #FFFFFF;
  --text-color-dark: #1E2733;
  --background-color: #151F2B;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font-sans);
  background: var(--background-color);
  max-width: var(--full-width);
  min-height: 100vh;
  overflow-x: hidden;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #1E2733 inset !important;
  -webkit-text-fill-color: #fff !important;
}
