.container {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.logomarca {
  font-size: 28px;
  font-weight: 400;
  line-height: 26px;
  color: #CFCFCF;
}

.logomarcaBold {
  font-weight: 800
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputLabel {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: var(--text-color);
  position: absolute;
  left: 16px;
  top: 10px;
}

.inputWrapper {
  background: #1E2733;
  position: relative;
  padding-top: 14px;
  border-radius: var(--border-radius);
}

.input {
  width: 365px;
  height: 60px;
  background: none;
  border: none;
  border-bottom: 2px solid var(--background-color);
  padding: 16px;
  font-weight: 600;
  font-size: 18px;
  color: var(--text-color);
}

.input:focus {
  outline: none;
  border-bottom: 2px solid #fff;
}

.submitButton {
  width: 365px;
  height: 47px;
  color: var(--text-color-dark);
  background: var(--primary-color);
  border-radius: var(--border-radius);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}


@media (max-width: 425px) {
  .input .submitButton {
    width: 280;
  }
}
