.container {
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 48px 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 36px;
  color: #F5F5F5;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.cardTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
}

.colaboradorInfo {
  display: flex;
  flex-direction: column;
}

.colaboradorDescricao {
  color: #CFCFCF;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tempoContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.tempo {
  font-size: 24px;
  line-height: 28px;
}

.tempoDescricao {
  font-weight: 600;
}

.pontoButton {
  width: 365px;
  height: 47px;
  color: var(--text-color-dark);
  background: var(--primary-color);
  border-radius: var(--border-radius);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .input .submitButton {
    width: 100;
  }
}
