.tableContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tableTitle {
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.1);
}

.table {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tableHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.tableRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(217, 217, 217, 0.05);
  border-radius: var(--border-radius);
  padding: 16px;
}

.tableRowText {
  font-size: 14px;
}

.tablePagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tablePage {
  padding: 4px 8px;
  font-size: 12px;
  border: none;
  border-radius: var(--border-radius);
  background: #485C78;
  color: var(--text-color);
  cursor: pointer;
}

.tableActivePage {
  padding: 4px 8px;
  font-size: 12px;
  border: none;
  border-radius: var(--border-radius);
  background: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
}

.tablePageContainer {
  display: flex;
  gap: 6px;
}
